/*todo lo contenido en este archivo es codigo css*/

/* Esto es un comentario en css*/

/* Selectores */
p {
    color: red;
    background-color: aquamarine;
    }

    body {
        background-color: lightpink;
        font-family: comic, sans-serif, ;
    }
        /* Puedes aplicar a todos los parrafos con esta norma */