/*================================================FUENTES================================================*/

@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*================================================MENU================================================*/
#mi-menu li > a{
    font-size: 18px;
}

.carrousel-inner {
    max-height: 39rem;
}