/* TODO LO QUE CONTIENE ESTE ARCHIVO ES CODIGO CSS*/
/*EL ASTERISCO ES EL SELECTOR UNIVERSAL*/

* {
    color: blue
}
body {
    background-color: rgba( 0, 0, 0, 0.01);
}
/* selectores de etiqueta*/
p {
    color: steelblue;
}
div {
    border-color: black;
    border-radius: 10px;
}
/*selectores de id*/
#castellano {
    color: tomato;
    font-size: 20px;
}
/*selectores de clase*/
.alberto {
    color: grey;
    background-color: aquamarine;
}
.textogrande {
    font-size: 25px;
}
.textorojo {
    color: red;
}
.textoverde {
    color: green;
}
.azulgoogle {
    color : #4285F4
}
/* Combinación de selectores*/
div p {
    /*todos los p subyacentes a un div*/
    color: violet;
}
div > span {
    /*todos los span hijos de un div*/
    color : maroon;
}
p.textoverde {
    /*todos los parrafos que tengan la clase textoverde*/
    font-size: 30px;
}
