
body {
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
}

.container {
    background-color: lightsalmon;
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr ;
    /*grid-template-rows: 100px 30px 40px 50px 100px;*/
    grid-auto-rows: 100px;
}

.container div {
    border: 1px solid blue;
    border-radius: 3px;
}
.caja1 {
    background-color: lightgreen;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.caja2 {
    background-color: lightblue;
    grid-row: 1 / 4;
    grid-column: 1 / 3;
}
.caja3 {
    background-color: lightgray;
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}
.caja4 {
    background-color: lightcyan;
    grid-column: 1/2;
    grid-row: 4/6;
}
.caja5 {
    background-color:lightgoldenrodyellow ;
    grid-row: 4/4;
    grid-column:2/4 ;
}
.caja6 {
    background-color: lightpink;

}
.caja7 {
    background-color: lightsalmon;

}
.caja8 {
    background-color: lightseagreen;

}
.caja9 {
    background-color: lightskyblue;

}
.caja10 {
    background-color: lightslategray;

}
.caja11 {
    background-color: lightsteelblue;

}
.caja12 {
    background-color: lightyellow;

}